.containerDogs{
    height: auto;
    margin-top: 0%;
    width: 100%;
    text-align: center;
    display: block;
}
.dogsmenu{
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
}

.dogsmenu button{
    background-color: transparent;
    color: white;
    height: 100%;
    width: auto;
    font-size: 17px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
}

.dogsmenu button:hover{
    cursor: pointer;
    content:"";
    color: darkcyan;
    transition: all 0.5s ease;
}

.SubContainerDogs{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.creatingDogs{
    background-color: rgba(0, 0, 0, 0.5);
    width: 320px;
    height: auto;
    margin: 5px;
    padding: 3px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.8);
    padding-bottom: 0px;
}

.creatingDogs h2{
    text-shadow: 3px 3px 3px black;
    color: white;
    margin-top: 0px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 18px;
}
.nameDogs,.minHeightDogs,.maxHeightDogs,.minWeightDogs,.maxWeightDogs,.LifeSpanDogs,.TemperamentsDogs{
    background-color: transparent;
    color: white;
    text-shadow: 3px 3px 3px black;
    padding: 0px;
    margin: 0px;
    height: auto; 
}

.temp{
    color: white;
}